VITE_SUPABASE_URL=https://xivropjvahlnecoyfjst.supabase.co
VITE_SUPABASE_ANON_KEY="sb_publishable_zu2W6iHVlnWbowNiRV87Tw_SxXJyx8c"
VITE_VAPID_PUBLIC_KEY="BOFZtOVO1Z0Y9br5XEclAC2juerNaLjHwI9VrBOB8FybBPzxSTRqVNLTpNqXEjnKnRWNJAcal3-gc8WY9DBo2MM"